.app-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-primary);
}

.app-layout-body {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}
